<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Home{% endblock %}</title>
        <link href="css/style.css" rel="stylesheet"/>
        <link rel="icon" href="img/punk.ico">
    </head>
    <body>
        <div id="page">
            {% include './partials/header.html.twig' %}
            <div id="core">
                {% block body %}{% endblock %}
            </div>
            {% include './partials/footer.html.twig' %}
        </div>
        <script src="js/script.js"></script>
    </body>
</html>