{% extends 'base.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

	<div id="home-text">
		<div class="title">Bonjour, je m'appel Colin CINQUINO</div>
		<p>J'ai 21 ans et je suis developpeur logiciel ou web front.</p>
		<p>Vous pouvez me contacter par <a title="Contact Email" href="mailto:colin.cinq@gmail.com">mail</a> ou sur les réseaux sociaux</p>
		<p>Merci de votre viste !</p>
	</div>

{% endblock %}
