<footer id="footer">
  <ul>
    <li><a href="https://www.facebook.com/colin.cqno">Facebook</a></li>
    <li><a href="https://github.com/ColinCinq">Github</a></li>
    <li><a href="https://gitlab.com/ColinCinq">Gitlab</a></li>
    <li><a href="mailto:colin.cinq@gmail.com">Email</a></li>
    <li><a href="https://www.linkedin.com/in/colin-cinquino/">Linkedin</a></li>
    <li>
      <p>👋</p>
    </li>
  </ul>
</footer>