<header class="header">
    <a class="header__navbar-button hidden"
       href="/">
        <button>Accueil</button>
    </a>
    <a class="header__navbar-button hidden"
       href="/competence">
        <button>Compétences</button>
    </a>
    <a class="header__navbar-button hidden"
       href="/experiences">
        <button>Expériences</button>
    </a>
    <a class="header__navbar-button hidden"
       href="/logout">
        <button>logout</button>
    </a>

  <div class="header__burgericon">
    <div class="header__burgericon-container" id="header-responsive">
      <div class="header__burgericon-bar1"></div>
      <div class="header__burgericon-bar2"></div>
      <div class="header__burgericon-bar3"></div>
    </div>
  </div>
</header>