<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login Form</title>
		<style>
			.login-form {
				width: 300px;
				margin: 0 auto;
				font-family: Tahoma, Geneva, sans-serif;
			}
			.login-form h1 {
				text-align: center;
				color: #4d4d4d;
				font-size: 24px;
				padding: 20px 0 20px 0;
			}
		</style>
		<link rel="icon" href="img/punk.ico">
	</head>
	<body>
		<div class="login-form">
			<h1>Cette fonctionnalité n'est pas encore présente :c</h1>
			<p>En attendant vous pouvez joindre un administrateur par mail</p>
			<p><a title="Contact Email" href="mailto:colin.cinq@gmail.com">colin.cinq@gmail.com</a></p>
		</div>
	</body>
</html>