<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Déconnexion</title>
		<style>
			.signOut {
				width: 300px;
				margin: 0 auto;
				font-family: Tahoma, Geneva, sans-serif;
			}
			.signOut h1 {
				text-align: center;
				color: #4d4d4d;
				font-size: 24px;
				padding: 20px 0 20px 0;
		
			.error {
				border: 1px solid red;
				border-radius: 10px;
				background-color: #FD9BA5;
			}
		</style>
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	</head>
	<body>
		<div class="signOut">
			<h1>Déconnexion réussie</h1>
			<p>à bientôt !</p>
			<a href="login">connexion</a>
		</div>
	</body>
</html>