.header {
	display: block;
	position: relative;
	min-height: 120px;
	color: #cacaca;
}
.header__navbar-button {
	margin: 1.5rem;
	color: inherit;
    text-decoration: inherit;
    background-color: transparent;
}
.header__navbar-button button {
  font-size: 1.5rem;
  padding: .5rem;
  margin: 0;
  font-weight: 500;
  font-family: inherit;
  background: 0 0;
  overflow: hidden;
  line-height: inherit;
  color: inherit;
  border-width: 0;
  border-bottom: 2px solid rgba(94, 184, 255, 0);
  transition: border-bottom 0.5s;
}
.header__navbar-button button:hover, .header__navbar-button button:active {
  border-bottom: 2px solid rgba(94, 184, 255, 1);
}
.header__navbar-button button:focus {
  outline: none;
}

.header__burgericon {
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 4rem;
	margin: 0.5rem;
	display: block;
}

.hidden {
	display: none;
}

@media screen and (min-width: 800px){
	.header {
		align-content: space-around;
		justify-content: space-around;
		align-items: center;
		display: flex;
	}
	.header__navbar-button {
		display: block;
	}
	.header__burgericon {
		display: none;
	}
} 

/*burger menu icon*/
.header__burgericon-container {
display: inline-block;
cursor: pointer;
}

.header__burgericon-bar1, .header__burgericon-bar2, .header__burgericon-bar3 {
width: 35px;
height: 5px;
background-color: #8a8a8a;
margin: 6px 0;
border-radius: 20px;
transition: 0.4s;
}

.change .header__burgericon-bar1 {
-webkit-transform: rotate(-45deg) translate(-9px, 6px);
transform: rotate(-45deg) translate(-8px, 6px);
}

.change .header__burgericon-bar2 {opacity: 0;}

.change .header__burgericon-bar3 {
-webkit-transform: rotate(45deg) translate(-8px, -8px);
transform: rotate(45deg) translate(-9px, -8px);
}

.header__navbar-button--responsive-navbar {
	display: block;
	float: none;
	text-align: center;
}